@media (max-width: 1150px) {
   .footer__inner {
      flex-wrap: wrap; 
   }
   .footer__column-info {
      min-width: 100%;
      margin-bottom: 30px;
   }
}
@media (max-width: 940px) {
   .menu__btn{
      display: block;
      width: 30px;
      div{
         height: 3px;
         background-color: #000;
      }
   }
   .footer__column-social {
      min-width: 100%;
      margin-top: 30px;
   }
   .footer__inner{
      justify-content: space-around;
   }
}
@media (max-width: 500px) {
   .footer__column {
      width: 100%;
   }
}